/* Estilo para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Coloca o modal sobre o restante do conteúdo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo escuro */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .addProfileIcon {
    width: 50px;
    height: 50px;
    background-color: #0078D4;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  /* Estilo para a lista de perfis */
  .list-profiles {
    margin-top: 20px;
    text-align: center;
  }
  
  .list-profiles ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-profiles li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .list-profiles li a {
    text-decoration: none;
    color: #333;
  }
  
  .list-profiles li a:hover {
    color: #0078D4;
  }
  